@import "tailwindcss";

@theme {
  --color-rd: #953325;
  --color-bl: #194ac4;
  --color-lbl: #194ac4ba;
}
#herosection {
  z-index: 0 !important;
}

#herosection2 {
  z-index: 11 !important;
}
html,
body {
  scroll-behavior: smooth !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.bullets span {
  position: relative;
}
.bullets span:after {
  position: absolute;
  top: 5px;
  left: -25px;
  background-color: #194ac4;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  content: "";
}
